body {
  font-family: "Roboto", sans-serif;
  color: #463F3A;
  margin: 0px; }

#profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%; }

.btn {
  background-color: transparent;
  border: 2px solid #E0AFA0;
  height: 40px;
  width: 130px;
  transition: 0.3s;
  color: #FFF; }

.btn:hover {
  background-color: #E0AFA0; }

.content {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 200px;
  height: 100%;
  padding-bottom: 100px; }

/* HERO SECTION */
.hero {
  height: 100vh;
  /* Image and transparency */
  background-image: linear-gradient(0deg, rgba(70, 63, 58, 0.8), rgba(70, 63, 58, 0.8)), url(../media/img-3.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.hero-inner {
  width: 50%;
  margin-left: 30px;
  text-align: right;
  color: #E0AFA0; }

.main-line {
  color: #fff;
  font-size: 3em;
  font-family: "Ubuntu", sans-serif; }

.topnav {
  background-color: transparent;
  overflow: hidden;
  height: 70px; }

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s; }

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #E0AFA0; }

/* Add a color to the active/current link */
.topnav a.active {
  background-color: transparent;
  border-bottom: 3px solid black; }

.animate__animated.animate__fadeIn {
  --animate-duration: 2s; }

.left {
  width: 30%;
  float: left; }

.right {
  width: 70%;
  float: right; }
