body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 8em;
}

h3 {
  font-size: 5em;
}

.scroll {
  height: 100px;
  width: 200px;
  background-color: transparent;
  border: none;
  transition: 1s;
}

.scroll:hover {
  color: thistle;
  transition: .3s;
}

.centered-content {
  text-align: center;
}

.centered-box {
  margin: auto;
}

.content {
  width: 70%;
}

.right-space {
  margin-right: 25px;
}

.fullscreen {
  height: 100vh;
  width: 100%;
  padding: 30px;
}

.hero {
  background-image: linear-gradient(
      to right bottom,
      rgba(81, 81, 81, 0.6),
      rgba(0, 125, 179, 0.8)
    ),
    url(https://images.pexels.com/photos/34088/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 100vh;
  padding: 30px;
}

.red {
  background-color: red;
}

.bottom-center {
  text-align: center;
  bottom: 20px;
  position: absolute;
  width: 100%;
  height: 10vh;
}

.bottom-center a {
    color: white;
}
