body {
    font-family: 'Roboto', sans-serif;
}

.centered-content {
    text-align: center;
}

.centered-box {
    margin: auto;
}

.content {
    width: 70%;
}

.right-space {
    margin-right: 25px;
}

.fullscreen {
    height: 100vh;
    padding: 30px;
}

.hero {
    margin-top: -50px;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 45px;
    line-height: 45px;
}